// Variables
$title-font: 'Roboto', sans-serif;
$content-font: 'Noto Sans', sans-serif;
$primary-color: #2ba6cb;

*,
*::after
,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 
html {
    
} 
body {
    background-color: #ecf0f1;
    color: #000000;
    font-family: $content-font;
}
h1 {
    
}

$border-padding: 5vh;

#main-container {
    height: calc(100vh - 2 * #{$border-padding});
    width: calc(100vw - 2 * #{$border-padding});
    position: absolute;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $border-padding;

    #lhs-container {
        height: 100%;
        width: 40%;
        background-color: rgba(0,0,0,0.25);
    }
    #rhs-container {
        height: 100%;
        width: 60%;
        background-color: rgba(0,0,0,0.25);
    }
}

